.component-search-input {
  border-bottom: 1px solid #ccc;
}

.component-search-input > div {
  margin: 0 20px 20px 20px;
}

.component-search-input input {
  border-radius: 8px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 8px;
  width: 100%;
}
